.section1{

    background-image:linear-gradient(rgba(0,0,0,0.3),transparent),url(../../assets/images/addtrip.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}

.navBar .bg-dark{
    background-color: rgb(4, 41, 49) !important;
    
}


