


/* navbar */

.navbar{
  width: 100%;
  background-color: #fff !important;
  padding: 5px;
  padding-left: 45px;


}

.navbar .nav-link{
margin-left: 45px;
color: #000;
font-weight: 500;
font-size: 15px;
transition: 0.2s;
font-family: 'Aboreto', 'cursive';
}


.navbar .nav-link:hover{
  color: #908f8f ;

  }

.navbar .navbar-brand{
  font-weight: bold;
  color: #000 ;
  font-size: 20px;
  font-family: 'Aboreto', 'cursive';
  margin-right: 60px;
}

 #circle {
  background: #ff9416;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.navbar .btn-outline-success{
  border-color: #ff9416;
  color: #ff9416;
  border-radius: 90px;
  margin-right: 50px;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.5s;
  
}

.navbar .btn-outline-success:hover{
  background-color: #ff9416;
  color: #fff;

}

.navbar .btn-outline-success:active{
  background-color: #ff9416;
  border-color: #ff9416;
  color: #fff;
}

/* intro */

.intro{
  margin-top: 60px;
  
}

.intro h1{
  
  font-size: 44px;
  margin-bottom: 12px;
  font-family: 'Aboreto', 'cursive';
 
}

.intro p{
  color: #969595;
  font-size: 15px;
  line-height: 30px;
}

.intro .orangeButton{
  color: #fff;
  background-color: #ff9416;
  border-color: #ff9416;
  padding-right: 18px;
  padding-left: 18px;
  padding: 12px 40px 12px;
  font-size: 14px;
  margin-top: 1px;
}

.intro .transparentButton{
  color: #ff9416;
  background-color: #fff;
  border-color: #ff9416;
  padding-right: 18px;
  padding-left: 18px;
  padding: 12px 60px 12px;
  font-size: 14px;
  margin-top: 1px;
}

.intro .orangeButton:active{
  color: #fff;
  background-color: #ff9416;
  border-color: #ff9416;
}
.intro .transparentButton:active{
  color: #ff9416;
  background-color: #fff;
  border-color: #ff9416;
}

.intro h2{
  font-size: 45px;
}
.intro .reg {
color: #b3b2b2;
font-size: 12px;
line-height: 20px;
}

.intro .registered{
  margin-top: 60px;
}

.about{
  margin-top: 140px;
  margin-bottom: 100px;
}
.about p{
  width: 50%;
  color: #969595;
  font-size: 15px;
  line-height: 30px;
}

.about h1{
  
  font-size: 40px;
  margin-bottom: 15px;
  font-family: 'Aboreto', 'cursive';
   
}

.about .box{
  background-color: #f0f0f0;
  border: #eae7e7 solid 1px;
  border-radius: 20px;
  padding: 15px 30px 10px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  font-size: 10px;
  transition: all 0.5s;
  padding-right: 0;
  


}

.about .box:hover{
background-color: #000;
border: #000 solid 1px;
color: #fff !important; 

}


  .about p{
    font-size:18px;
  }

  .about img{
    height: 550px;
    width: 550px;
  }


  .about .orangeButton{
    margin-top: 50px;
    color: #fff;
    background-color: #ff9416;
    border-color: #ff9416;
    padding-right: 18px;
    padding-left: 18px;
    padding: 12px 40px 12px;
    font-size: 14px;
 
  }

  .about .orangeButton:active{
    color: #fff;
    background-color: #ff9416;
    border-color: #ff9416;
  }

  .whywasally{
    margin-bottom: 100px;
    margin-top: 150px;

    background-image: url('./assets/images/sliderr.jpg');
    
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;




  }
  .whywasally .image{
  
    width: 100%;
   padding: 50px;
    
  }
 
  

  .whywasally h1{
    color: #000;
    font-size: 50px;
    font-family: 'Aboreto', 'cursive';
  
  }

  .whywasally p{
    width: 50%;
    font-size: 19px;
    color: #676767;
    margin-bottom:50px;

  }

  footer{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #fafafa;
    margin-top: 50px;
    
  }

  footer ul li{
    text-decoration: none;
    margin-bottom:20px;

  }
 
  
  footer ul {
    list-style-type: none;  

    margin-top: 30px;
  }
  footer ul li a{
    text-decoration: none;
    color: #969696;
    transition: all 0.5s;
  
  }
  footer ul li a:hover{
     color: #ff9416;
  
  }
  footer ul li{
    text-decoration: none;
    color: #969696;
  
  }

  .head{
    margin-bottom: 50px;
    margin-top: 0;
    color: #414141;
   
  }


  footer p{
    margin-top: 20px;
    color: #969696;
    font-size: 17px;
    font-weight: 400;
  }

  footer .upp{
    margin-bottom: 100px;
    
  }

  footer h4{
    font-family: 'Aboreto', 'cursive';
    font-size: 22px;
  }


  /* new */
.contact{
  margin-bottom: 130px;
}

  .contact h2{
    text-align: center;
    font-size: 50px;
    color: #414141;
    margin: 0px;
    font-family: 'Aboreto', 'cursive';
  }
  
  .contact .info {
    width: 100%;
    background: #fff;
    margin-top: 15px;
    
  }
  

  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #4a4a4a;
    font-family: 'Aboreto', 'cursive';
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
 
    font-size: 15px;
    color: #908f8f;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
    margin-top: 50px;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
    margin-top: 20px;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ff9416;
    text-align: center;
    padding: 15px;
    font-weight: 800;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #ff9416;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #ff9416;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #ff9416;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #ff9416;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 10px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #ff9416;
  }
  


  /* services */

  .services{  
    margin-bottom: 100px;
  }
  .service-item {
    height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: 0.8s;
   
}


.services h1{
  font-size: 50px;
  font-family: 'Aboreto', 'cursive';
  color: #414141;
}


.services h4{
  color: #676767;
}



.service-item:hover {
    background: #ff9416;
}

.service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 90px;
    height: 90px;
    transition: .5s;
    font-size: 20px;
    
}

.star{
  font-size: 65px;
  color: #ff9416;
}
.service-item i,
.service-item h5,
.service-item p {
    transition: .5s;
    color: #ff9416;
    
}


.services h5{
  color: #676767;
  font-size: 20px;
}
.service-item:hover .star,
.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF !important;
}




/* faq */

.faq{
  margin-bottom: 130px;

}

.faq h2{
  font-size: 50px;
    color: #414141;
    text-align: center;
    font-family: 'Aboreto', 'cursive';
    margin-bottom: 80px ;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
  
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  
}

.faq .faq-list a {
  display: block;
  position: relative;

  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  color: #ff9416;
  transition: 0.8s all;
  font-size: 18px;
}



.faq .faq-list .arr {
  font-size: 35px;
  position: absolute;
  right: 0;
  top: 0;
 
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  font-size: 18px;
  color: #676767;

}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #787777;
}

.faq .faq-list a.collapsed:hover {
  color: #ff9416;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}