body{
    font-family: 'Merriweather', serif;
 
     background-color: #042931;
     color: #fff !important;
 
 }
 
 .contactLink{
     text-decoration: none;
     
 }
 .contactLink:hover{
     color: rgba(255,255,255,.75);
 }
 .contactLink img{
     width: 13px;
   
     margin-left: 10px;
 }
 
 .green{
     color: #A6C903;
 }
 
 .navBar .bg-dark{
     background-color: #042931 !important;
 }
 
 
 .navBar .navbar-expand-lg .navbar-nav .nav-link{
     padding-right: 2.3rem;
 }
 
 .main{
     margin-top: 25px;
 }
 .main img{
     width: 100%;
     height: 80%;
     border-radius: 15%;
 }
 .main a{
     text-decoration: none;
     color: #fff;
     
 }
 
  .right img{
     width: 27px;
     height: 36px;
     margin-left: 10px;
     margin-bottom: 5px;
  
  }
 
  .right:hover{
     color: rgba(255,255,255,.75);
 
  }
 
  .main .shortNote{
     line-height: 35px;
  }
 
  .navBar p{
     font-size: 13px;
     font-weight: 600;
  }
 
  .whiteBox{
     background-color: #fff;
     color: #042931;
     padding: 50px;
  }
  .blackBox{
     padding: 50px;
  }
  .reasons{
     width: 75%;
     margin: auto;
  }
 
  .reasons img{
     width: 25%;
    margin-bottom: 20px;
  }
 
  .brand img{
     width: 90%;
  }
 
  .faq{
     margin-top: 90px;
     line-height: 3rem;
  }
  .faq a{
     text-decoration: none;
     color: #fff;
  }
 
  .faq img{
     width: 70%;
     margin-top: 30px;
  }
  @media screen and (max-width: 500px) {
     .faq imge{
        display: none;
      }
      /* .formContact{
         display: none;
      } */
  }
 
 
 
 
  .faq hr{
     border: 1px solid #A6C903;
     opacity: 1;
  }
 
 .faq button{
    background-color: #A6C903;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: auto;
    padding: 10px 20px;
   transition: all 1s;

 }
 
    .faq button:hover{
        background-color: #fff;
        color: #042931;
    }
 
 .contact{
     margin-top: 90px;
     background-color: #A6C903;
     color: #042931;
     padding: 50px;
 
 }
 
 .contact img{
     width: 30px; 
 }
 
 .contact h4{
     display: inline;
     margin-left: 15px;
  
 }
 .contact span{
     margin-bottom: 20px;
 }
 
 .contact p{
     margin-top: 15px;
     margin-bottom: 20px;
 }
 
 
 
 .contact .formContact {
 
     padding: 30px;
     background-color: #fff;
     color: #042931;
     text-align: center;
     
 
 }
 
 
 .contact .formContact input{
     width: 100%;
     padding: 10px;
     margin-bottom: 20px;
     border: none;
     border-bottom: 1px solid #A6C903;
     outline: none;
     
 }
 
 
 
 .contact .formContact button{
    background-color: #A6C903;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: auto;
    padding: 10px 20px;
   transition: all 1s;
 }
 

.contact .formContact button:hover{
background-color: #fff;
color: #042931;


}


 .footer{
     margin-top: 70px;
     padding: 70px 40px 70px 40px;
 }
 
 .footer li{
     list-style: none;
   
 }
 
 .footer ul{
     margin-bottom: 30px;
 }
 .footer a{
     text-decoration: none;
     color: #fff;
 }
 .footer p{
        margin-bottom: 0px;
 }
 
 footer {
     background-color: #A6C903;
     color: #042931;
     padding: 20px;
     text-align: center;
     padding-bottom: 0;
     
 }
 
 footer li{
     list-style: none;
     display: inline;
     margin-right: 20px;
 }
 
 footer img{
     width: 20px;
 }


 .userForm{
        padding:50px;  
 }

 .userForm form{
    margin-top: 50px; 
 }

    .userForm label{
          
      font-size: 20px;
    }

    .userForm input,select:focus {
        background-color: #042931;
        color: #fff;
      }

      .userForm textarea:focus {
        background-color: #042931;
        color: #fff;
      }

      
 .userForm input{
      
        border-radius: 20px;
        background-color: #08485580;
        border: solid 1px #86868680;
        display: inline-block;
 }


 .userForm textarea{
      
    border-radius: 20px;
    background-color: #08485580;
    border: solid 1px #86868680;
    display: inline-block;
}



    .userForm   input
input::placeholder {
    font: 18px sans-serif;
    color: #fff !important;
    opacity: 0.8;

   
}

    .userForm textarea
textarea::placeholder {
    font: 18px sans-serif;
    color: #fff !important;
    opacity: 0.8;
 
}



    


.userForm   select
select::placeholder {
    font: 18px sans-serif;
    color: #fff !important;
    opacity: 0.8;

   
}





.userForm .group{
    margin-bottom: 30px;

}

.userForm select{
    width: 100%;
    padding: 10px;

    
    outline: none;
    background-color: #08485580;
    color: #fff;
  
    border-radius: 20px;
}

.userForm button{
        background-color: #A6C903;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
        width: auto;
        padding: 10px 20px;
         transition: all 1s;
     
        
}

.userForm select option{
    background-color: #084855;
    color: #fff;
  
}


.userForm button:hover{
    background-color: #fff;
    color: #042931;
    
}

.userForm textarea{
    color: #fff;
}


.userForm .border{
    border:1px solid #666666 !important;
    padding-bottom:0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    
}


.shippmentDetails{
    margin-top: 20px;
  
}