/* .traingle1 body {
    display: grid;
    place-items: center;
    height: 100vh;    
  }
  
  .traingle1  {
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to top, #042931,#042931, #D3FF00);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
    transition: all .5s ease-in;
    border-style: solid;
    border-color:#D3FF00 ;
    rotate: 90deg;
  }
  
  .traingle1:hover {
    transform: scale(1.04);
  }
  .text1 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -200%);
    rotate: 270deg;
    color: white;

  } 
  
  .traingle2 body {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .traingle2  {
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to top, #042931,#042931, #D3FF00);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
    transition: all .3s ease-in;
    border-style: solid;
    border-color:#D3FF00 ;
    rotate: 270deg;

  }
  
  .traingle2:hover {
    transform: scale(1.04);
  }
  
  .work h3{
    margin-top: 115%;
    color: #D3FF00;
  }

  .text2 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, 200%);
    rotate: 90deg;
    color: white;
  }  */


  .spliter {
    font-family: Arial;
    color: white;
  }
  
  .splitleft {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    left: 0;
    background-color: #ffffff;
  }
  .splitright {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
    background-color: #fd7402ed;
  }
  
  .left {
    left: 0;
    background-color: #ffffff;
  }
  
  .right {
    right: 0;
    background-color: #fd7402ed;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* color: black; */
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }