.traingle1 body {
    display: grid;
    place-items: center;
    height: 100vh;    
  }
  
  .traingle1  {
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to top, #042931,#042931, #D3FF00);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
    transition: all .5s ease-in;
    border-style: solid;
    border-color:#D3FF00 ;
    rotate: 90deg;
  }
  
  .traingle1:hover {
    transform: scale(1.04);
  }
  
   /* .traingle1 h5 {
    
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
  } */

/* ///////traingle 2////// */
  .traingle2 body {
    display: grid;
    place-items: center;
    height: 100vh;
    /* transform: rotate(90deg); */
    
  }
  
  .traingle2  {
    height: 500px;
    width: 500px;
    background-image: linear-gradient(to top, #042931,#042931, #D3FF00);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    cursor: pointer;
    transition: all .3s ease-in;
    border-style: solid;
    border-color:#D3FF00 ;
    rotate: 270deg;

  }
  
  .traingle2:hover {
    transform: scale(1.04);
  }
  
   /* .traingle2 h5 {
    
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
  } */

  .work h3{
    margin-top: 115%;
    color: #D3FF00;
  }

  .ayhaga h5{
    z-index: 3;
  } 